---
files:
  /etc/httpd/conf.modules.d/01-cgi.conf:
    content: |
        <IfModule mpm_worker_module>
         LoadModule cgid_module modules/mod_cgid.so
        </IfModule>
        <IfModule mpm_event_module>
           LoadModule cgid_module modules/mod_cgid.so
        </IfModule>
        <IfModule mpm_prefork_module>
           LoadModule cgi_module modules/mod_cgi.so
        </IfModule>
    group: root
    mode: "000644"
    owner: root
