---
files:
  /var/www/cgi-bin/mimetexarm64.cgi:
    group: root
    mode: "000755"
    owner: root
    source: "https://myopenmath-resources.s3-us-west-2.amazonaws.com/mimetexarm64.cgi"
  /var/www/cgi-bin/mimetex64.cgi:
    group: root
    mode: "000755"
    owner: root
    source: "https://myopenmath-resources.s3-us-west-2.amazonaws.com/mimetexarm64.cgi"
