files:
  /etc/php-fpm.d/www-errorlog.conf:
    mode: "000644"
    owner: root
    group: root
    # For some reason, EB configures the php errors to go to /var/log/php-fpm/www-error.log,
    # but doesn't include that file in the default log files sent to CloudWatch. This directs
    # the log files to the error file that is being sent to CloudWatch
    content: |
        [www]
        php_admin_value[error_log] = /var/log/httpd/error_log
