files:
  "/tmp/install_redis.sh":
    mode: "000600"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if ! pecl list | grep redis >/dev/null 2>&1; then
        pecl channel-update pecl.php.net
        printf "\n\n\n" | pecl install redis
        sed -i '/redis.so/d' /etc/php.ini
        echo "extension=redis.so" | sudo tee /etc/php.d/redis.ini
      fi
commands:
  10_install_redis:
    command: /bin/bash /tmp/install_redis.sh
  20_cleanup:
    command: rm /tmp/install_redis.sh
  
