files:
  "/tmp/install_redis.sh":
    mode: "000600"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if ! pecl7 list | grep redis >/dev/null 2>&1; then
        pecl7 channel-update pecl.php.net
        printf "no\n" | pecl7 install redis
        sed -i '/redis.so/d' /etc/php-7.3.ini
        echo "extension=redis.so" | sudo tee /etc/php.d/40-redis.ini
      fi
commands:
  10_install_redis:
    command: /bin/bash /tmp/install_redis.sh
  20_cleanup:
    command: rm /tmp/install_redis.sh
  
